body {
    background: rgb(174, 189, 37);
    color: rgb(45, 45, 45);
    padding: 10px;
    font-family: arial;
}

header {
    font-size: 1.5em;
    font-weight: bold;
}

h1 {
    margin: 10px;
}

#all-contents {
    max-width: 800px;
    margin: auto;
}


/* navigation menu */

nav {
    background: rgb(225, 235, 83);
    margin-bottom: 20px;
    display: flex;
    padding: 10px;
    border-radius: 40px;
}

nav header {
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    flex: 1;
}

nav ul {
    list-style-image: none;
}

nav li {
    display: inline-block;
    padding: 0 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
}


/* main container area beneath menu */

main {
    background: rgb(186, 116, 36);
    display: flex;
    border-radius: 10px;
}

.content {
    flex: 1;
    padding: 15px;
}


/* portfolio styles */

#portfolio {
    list-style-type: none;
    padding-left: 0;
}

#portfolio li {
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#portfolio li:hover {
    background: #eee;
}

#portfolio a {
    text-decoration: none;
    color: #454545;
}