body {
  width: 100%;
  height: 100%;
}

.main {
  width: 100%;
  height: auto;
  min-height: 100%;
}

.main-header {
    height: 130px;
    margin: 135px 35px 0;
    opacity: 1;
    filter: alpha(opacity=100);
    position: relative;
    text-align: center;
  }

  .main-header .logo {
    margin: auto 0;
    opacity: 1;
    position: relative;
  }

  /* INDEX */

  .logo-title {
    color: #000;
    font: 400 70px/.95 "Neue Droschke",sans-serif;
    letter-spacing: 5px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    -webkit-animation: mymove 5s; /* Safari 4.0 - 8.0 */
    animation: mymove 5s;
}

/* Safari 4.0 - 8.0 */
.logo-title {-webkit-animation-timing-function: ease-in-out;}

/* Standard syntax */
.logo-title {animation-timing-function: ease--in-out;}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
    from {right: 300px;}
    to {right: 0px;}
}

/* Standard syntax */
@keyframes mymove {
    from {right: 300px;}
    to {right: 0px;}
}

.logo-subtitle {
    color: #000;
    font: 400 2.2em/1.3 "Courier New";
    position: relative;
    text-align: center;
    -webkit-animation: mymove2 5s; /* Safari 4.0 - 8.0 */
    animation: mymove2 5s;
}

/* Safari 4.0 - 8.0 */
.logo-subtitle {-webkit-animation-timing-function: ease-in-out;}

/* Standard syntax */
.logo-subtitle {animation-timing-function: ease--in-out;}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove2 {
    from {left: 300px;}
    to {left: 0px;}
}

/* Standard syntax */
@keyframes mymove2 {
    from {left: 300px;}
    to {left: 0px;}
}

.nav-social-media {
    position: absolute;
    right: 65px;
    top: 65px;
    color: #000;
    z-index: 21;
}

.nav-social-media a {
    color: inherit;
    font-size: 27px;
    display: inline-block;
    zoom: 1;
    margin: 0 0 0 5px;
    position: relative;
    text-decoration: none;
}

.fa-linkedin:hover {
  color: #f7cdf5;
  cursor: pointer;
  -webkit-transition: color 1s ease-out;
  -moz-transition: color 1s ease-out;
  -o-transition: color 1s ease-out;
  transition: color 1s ease-out;
}

.fa-github:hover {
  color: #f7cdf5;
  cursor: pointer;
  -webkit-transition: color 1s ease-out;
  -moz-transition: color 1s ease-out;
  -o-transition: color 1s ease-out;
  transition: color 1s ease-out;
}

.fa-instagram:hover {
  color: #f7cdf5;
  cursor: pointer;
  -webkit-transition: color 1s ease-out;
  -moz-transition: color 1s ease-out;
  -o-transition: color 1s ease-out;
  transition: color 1s ease-out;
}

.fa-pinterest:hover {
  color: #f7cdf5;
  cursor: pointer;
  -webkit-transition: color 1s ease-out;
  -moz-transition: color 1s ease-out;
  -o-transition: color 1s ease-out;
  transition: color 1s ease-out;
}

.button-contact {
    left: 65px;
    position: absolute;
    top: 65px;
    color: #000;
    font: 400 1.6em "Voyager Bold",sans-serif;
    letter-spacing: 1px;
    text-transform: lowercase;
    text-decoration: none;
}

.button-contact:hover {
  color: #f7cdf5;
  cursor: pointer;
  -webkit-transition: color 1s ease-out;
  -moz-transition: color 1s ease-out;
  -o-transition: color 1s ease-out;
  transition: color 1s ease-out;
}

.links-div {
  margin: 190px 35px 0;
  position: relative;
  text-align: center;
}

.container-index {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.div-box {
  cursor: pointer;
	position: relative;
  height: 350px;
  width: 500px;
  margin: 5px;
}

.div-text-resume {
  position: absolute;
	top: 0; right: 0;
	bottom: 0; left: 0;
	width: 500px;
	height: 350px;
	text-align: center;
	background-color: #f7cdf5;
	opacity: 0;
	-webkit-transition: opacity 0.6s;
	-moz-transition: opacity 0.6s;
	transition: opacity 0.6s;
}

.div-text-resume:hover, .div-text-resume:active {
  opacity: .8;
}
.div-text-resume h3 {
  color: white;
  font-size: 90px;
}

.div-text-portfolio {
  position: absolute;
	top: 0; right: 0;
	bottom: 0; left: 0;
	width: 500px;
	height: 350px;
	text-align: center;
	background-color: #f7cdf5;
	opacity: 0;
	-webkit-transition: opacity 0.6s;
	-moz-transition: opacity 0.6s;
	transition: opacity 0.6s;
}

.div-text-portfolio:hover, .div-text-portfolio:active {
  opacity: .8;
}
.div-text-portfolio h3 {
  color: white;
  font-size: 90px;
}

.div-text-publishings {
  position: absolute;
	top: 0; right: 0;
	bottom: 0; left: 0;
	width: 500px;
	height: 350px;
	text-align: center;
	background-color: #f7cdf5;
	opacity: 0;
	-webkit-transition: opacity 0.6s;
	-moz-transition: opacity 0.6s;
	transition: opacity 0.6s;
}

.div-text-publishings:hover, .div-text-publishings:active {
  opacity: .8;
}
.div-text-publishings h3 {
  color: white;
  font-size: 90px;
}

.div-text-blog {
  position: absolute;
	top: 0; right: 0;
	bottom: 0; left: 0;
	width: 500px;
	height: 350px;
	text-align: center;
	background-color: #f7cdf5;
	opacity: 0;
	-webkit-transition: opacity 0.6s;
	-moz-transition: opacity 0.6s;
	transition: opacity 0.6s;
}

.div-text-blog:hover, .div-text-blog:active {
  opacity: .8;
}
.div-text-blog h3 {
  color: white;
  font-size: 90px;
}

/* RESUME */

.container-resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

.logo-resume {
  color: #000;
  font: 400 70px/.95 "Neue Droschke",sans-serif;
  letter-spacing: 5px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}

.about-me {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: #f7cdf5;
  text-align: center;
}

.about-me-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.me-img {
  display: flex;
  justify-content: center;
}

.skills {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: #ddd;
  text-align: center;
}

.skills-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding-left: 10px;
  padding-left: 10px;
}

.skills-img {
  opacity: .6;
  display: flex;
  justify-content: center;
}

.work {
  width: 100%;
  text-align: center;
  background-color: #ddd;
}

.other {
  width: 100%;
  text-align: center;
  background-color: #ddd;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.accordion.active, button.accordion:hover {
    background-color: #f7cdf5;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.accordion.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: #ddd;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.education {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: #f7cdf5;
  text-align: center;
}

.education-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.education-pic {
  display: flex;
  justify-content: center;
}

a {
  color: black;
  text-decoration: none;
}

.p-work {
  text-align: justify;
}

.home:hover {
  color: #f7cdf5;
  cursor: pointer;
  -webkit-transition: color 1s ease-out;
  -moz-transition: color 1s ease-out;
  -o-transition: color 1s ease-out;
  transition: color 1s ease-out;
}

.next:hover {
  color: #f7cdf5;
  cursor: pointer;
  -webkit-transition: color 1s ease-out;
  -moz-transition: color 1s ease-out;
  -o-transition: color 1s ease-out;
  transition: color 1s ease-out;
}
