body {
    background-color: white;
    font-family: 'Khula', sans-serif;
    font-size: 16px;
    width: 960px;
    margin: 0 auto;
}
h1 {
    text-align: center;
}
.container {
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  width: 960px;
}

.list-products {
    list-style-type: none;
}

.li-product {
    display: flex;
    flex-direction: row;
}

.desc {
    font-size: 18px;
    font-weight: bolder;
    padding-top: 10px;
}

.price {
    color: red;
    padding-top: 10px;
    padding-bottom: 10px;
}

.availableColors {
    padding-top: 10px;
    padding-bottom: 10px;
}

.specs {
    padding-top: 10px;
    padding-bottom: 10px;
}

.lightbox-product {
    display: flex;
    flex-direction: row;
}

#lightbox {
  display:none;
  background:#000000;
  opacity:0.9;
  filter:alpha(opacity=90);
  position:absolute;
  top:0px;
  left:0px;
  min-width:100%;
  min-height:100%;
  z-index:1000;
}
 /*Lightbox panel with some content */
#lightbox-panel {
  display:none;
  position:fixed;
  top:100px;
  left:50%;
  margin-left:-200px;
  width:600px;
  background:#FFFFFF;
  padding:10px 15px 10px 15px;
  border:2px solid #CCCCCC;
  z-index:1001;
}
