
/* Page Layout */

.container-fluid {
    display: -webkit-flex; /* Safari */
    width: 1000px;
    justify-content: space-around;
    align-content: stretch;
    margin-bottom: 20px;
}
.flex-container {
    display: -webkit-flex; /* Safari */
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: stretch;
}

.list-products {
  display: -webkit-flex; /* Safari */
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: stretch;
  
}

.thumbnail {
    width: 300px;
    height: 300px;
    justify-content: center;
}
.product-details {
    font-size: smaller;
}

.modal-body {
    display: flex;
}

.image {
    margin-left: 60px;
    justify-content: center;
}

.desc{
    padding: 5px;
}

.price {
    padding: 5px;
    color: red;
}

.stock {
    padding: 5px;
}

#temp-image {
    max-height: 500px;
    max-width:300px;
}

h1 {
    text-align: center;
}