body {
    background: rgb(125, 198, 205);
    color: rgb(45, 45, 45);
    padding: 10px;
    font-family: arial;
}

header {
    font-size: 1.5em;
    font-weight: bold;
}

[id=all-contents] {
    max-width: 800px;
    margin: auto;
}


/* navigation menu */

nav {
    background: rgb(239, 80, 41);
    margin: 0 auto;
    display: flex;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

nav header {
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    flex: 1;
}

nav ul {
    list-style-image: none;
}

nav li {
    display: inline-block;
    padding: 0 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
}


/* main container area beneath menu */

main {
    background: rgb(245, 238, 219);
    display: flex;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

[class=sidebar] {
    margin-right: 25px;
    padding: 10px;
}

[class=sidebar] img {
    width: 200px;
}

[class=content] {
    flex: 1;
    padding: 15px;
    margin-right: 1px;
}

[class=discography] header {
    font-size: 1.25em;
}

#list-top-rated {
   list-style: none;
   padding: 0px;
  
}
.title {
    color: black;
    
}

#list-disc {
    list-style: none;
    padding: 0px;
    
}

#image-billy {
    border-radius: 5px;
}

.img-recording {
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

.img-top-recording {
    border-radius: 5px;
    margin-bottom: 13px
}

#header-top-rated {
    font-size: 1.5em;
    text-align: center;
    color: white;
    border-style: hidden;
    border-radius: 5px;
    background-color: rgb(239, 80, 41);
    margin-top: 11px;
    padding: 10px;
    height: 30px;
    width: 180px;
}

.header-recordings {
    font-size: 1.5em;
    text-align: center;
    color: white;
    border-style: hidden;
    border-radius: 5px;
    background-color: rgb(239, 80, 41);
    margin-bottom: 17px;
    padding: 10px;
    height: 30px;
    width: 180px;
}

.recording-top-rated {
    font-weight: bold;
    font-style: italic;
    margin: 3px;
}

.recording {
    font-weight: bold;
    font-style: italic;
    margin: 3px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}
th {
    height: 50%;
}

#section-bio {
    text-align: justify;
}

#section-praise {
    text-align: justify;
}

#section-quotes {
    text-align: justify;
}